:root {
    --dark: #0C0E0C;
    --red: #D8323C;
    --light: #EAEBEA;
}

body {
    margin-left: 5em;
    margin-top: 3em;
    background-color: var(--light);
    color: var(--dark);
    font-family: Raleway, Arial;
    font-size: 125%;
}

.redH1 {
    color: var(--red);
}

select {
    width: 35em;
    height: 3em;
    text-align: center;
    font-size: 115%;
}

#styleOptions {
    margin-top: 2em;
}

hr {
    border-color: var(--red);
}

#aboutElement, #myCode {
    margin-top: 30px;
    background-color: var(--red);
    color: var(--light);
    padding: 10px;
    padding-bottom: 20px;
    width: 50em;
}

#myCode {
    background-color: var(--dark);
}